<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :username, t('users.form.nickname') %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, t('users.form.email') %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <p><%= image_tag @user.avatar.thumb.url, size: 100, alt: t('users.form.avatar_alt') if @user.avatar? %></p>
  </div>

  <div class="custom-file mb-4">
    <%= f.file_field :avatar, class: 'custom-file-input' %>
    <%= f.label :avatar, t('users.form.choose_avatar'), class: "custom-file-label" %>
  </div>

  <div class="actions">
    <%= f.submit t('general.save'), class: 'btn btn-primary' %>
    <%= t('general.or') %> <%= link_to t('general.return'), :back %>
  </div>
<% end %>
