<div class="text-center">
  <h1><%= @user.username %></h1>

  <%= image_tag user_avatar(@user), size: 100, alt: t('users.form.avatar_alt') %>

  <% if @user == current_user %>
    <p class="buffer-top"><%= link_to t('users.show.edit_profile'),
      edit_user_path(@user), class: 'btn btn-dark' %></p>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <h3><%= t('users.show.events_made') %>:</h3>
        <div class="row">
          <%= render partial: 'events/event', collection: @user.events %>
        </div>
      <% else %>
        <p class="buffer-top"><%= t('users.show.no_events') %></p>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @user.subscriptions.any? %>
        <h3><%= t('users.show.events_subscribed_to') %>:</h3>
        <div class="row">
          <%= render partial: 'events/event', collection: @user.subscriptions.map(&:event) %>
        </div>
      <% else %>
        <p class="buffer-top"><%= t('users.show.no_events_subscribed_to') %></p>
      <% end %>
    </div>
  </div>
</div>
