<%# Форма для добавления новой фотографии с одним полем photo %>
<%# Обратите внимание на параметр multipart %>
<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

    <div class="custom-file mb-4">
      <%= f.file_field :photo, class: 'custom-file-input' %>
      <%= f.label :photo, t('users.form.choose_photo'), class: "custom-file-label" %>
    </div>
  

  <div class="actions">
    <%= f.submit 'Загрузить', class: 'btn btn-primary' %>
  </div>
<% end %>
