<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "/path1"  %></li>
            <li><%= link_to "Link2", "/path2"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% if flash.any? %>
            <div class="content-wrapper buffer-both">
              <% flash.each do |name, message| %>
                <%= content_tag :div, message, class: "flash-#{name}" %>
              <% end %>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; 2020-2021 Илья</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
